{% extends 'base.html' %}
{% block title %}detail{% endblock title %}
{% block content %}

  <h2>DETAIL</h2>
  <div class="container border py-3">
    <h3>{{ review.pk }}번째 글 | 제목
      {{ review.title }}</h3>
    <h3>{{review.movie_name}}</h3>
    <div class="container border my-2 pt-2">
      <h4>내용</h4>
      <p>{{ review.content }}</p>
    </div>
    <div class="container border my-2 pt-2">
      <p>평점:{{ review.get_grade_display }}</p>
    </div>
    <div class="d-flex ms-2">
      <a class="btn" href="{% url 'reviews:update' review.pk %}">수정하기</a>
      <form action="{% url 'reviews:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" value="삭제하기">
      </form>
      <a class="btn" href="{% url 'reviews:index' %}">뒤로가기</a>
    </div>
  </div>
{% endblock content %}