{% extends 'base.html' %}

{% block content %}
  <h1>검색결과</h1>

  <form class="search d-flex mb-5" role="search" action="{% url 'reviews:search' %}">
    <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Search</button>
  </form>

  <table class="table text-center border-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">글 제목</th>
        <th scope="col">영화 제목</th>
        <th scope="col">평점</th>
        <th scope="col">비고</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for review in search_list %}
        <tr>
          <th scope="row">{{ review.pk }}</th>
          <td>{{ review.title }}</td>
          <td>{{ review.movie_name }}</td>
          <td>{{ review.get_grade_display  }}</td>
          <td>
            <a href="{% url 'reviews:detail' review.pk %}">자세히</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-outline-dark" href="{% url 'reviews:index' %}">뒤로가기</a>
{% endblock content %}
